<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="password-reset-page" padding>
  <img src="http://placehold.it/300x100" />

  <form [formGroup]="passwordResetForm">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        formControlName="email"
        type="email"
        placeholder="Your email address">
      </ion-input>
    </ion-item>

    <ion-button
      expand="block"
      (click)="resetPassword()"
      [disabled]="passwordResetForm.invalid">
      Login
    </ion-button>
  </form>
</ion-content>
